# Docker Variables
MCS_IMAGE_NAME=mariadb/skysql-enterprise-columnstore-handoff
MX_IMAGE_NAME=mariadb/maxscale
CLUSTER=true
USE_AWS_CLI=true
VERSION=10.6

# Columnstore Team Use Only (Examples)
DEV=false
ARCH=amd64
MCSBRANCH=develop
MCSBUILDPATH=latest/10.9
CMAPIBRANCH=develop
CMAPIBUILDPATH=latest

# Hostnames
MX1=mx1
MX2=mx2
PM1=mcs1
PM2=mcs2
PM3=mcs3

# Credentials
TOKEN=
CMAPI_KEY=
ADMIN_USER=
ADMIN_PASS=
ADMIN_HOST=
CEJ_USER=
CEJ_PASS=
MAX_USER=
MAX_PASS=
MAX_HOST=
REP_USER=
REP_PASS=
REP_HOST=

# Storagemanager Configuration
USE_S3_STORAGE=false
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_ENDPOINT=s3.us-west-2.amazonaws.com
S3_REGION=us-west-2

# System Type
ANALYTICS_ONLY=false
ASYNC_CONN=false
